<div class="container">
    <h2>List of Commandes</h2>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>Customer</th>
          <th>Total Price</th>
          <th>Shipping Address</th>
          <th>Payment Method</th>
          <th>Order Status</th>
          <th>Ordered At</th>
          <th>Delivered At</th>
          <th>Created At</th>
          <th>Updated At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let comande of comandes">
          <td>{{ comande._id }}</td>
          <td>{{ comande.customer }}</td>
          <td>{{ comande.totalPrice }}</td>
          <td>{{ comande.shippingAddress }}</td>
          <td>{{ comande.paymentMethod }}</td>
          <td>{{ comande.orderStatus }}</td>
          <td>{{ comande.orderedAt }}</td>
          <td>{{ comande.deliveredAt ? (comande.deliveredAt | date:'short') : 'Not Delivered' }}</td>
          <td>{{ comande.createdAt }}</td>
          <td>{{ comande.updatedAt }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  