<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Example page</h1>
            <h3>Start designing your landing page here.</h3>
            <br />
            <a href="/signup" class="btn btn-outline-neutral btn-round">Sign up</a>
            <a href="/login" class="btn btn-outline-neutral btn-round">Login</a>
        </div>
    </div>
</div>

<!-- New section below the buttons -->
<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="assets/img/examples/LX3015C.jpg" alt="Example Image" class="img-fluid">
        </div>
        <div class="col-md-6">
            <h2>Esm machine</h2>
            <p>brief description about the image.</p>
        </div>
    </div>
</div>
